/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

.idea/
cmake-build-*/

build/
/Makefile
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake

*.o
*.obj
*.a
*.so
*.dylib
*.exe
chip8-emulator

.DS_Store
Thumbs.db
